<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="starTransport">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://opentrackqa.arkona.com/WebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="starTransport"
          contract="Definitions.starTransport" name="starTransport" />
    </client>
  </system.serviceModel>
</configuration>